body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #fff;
    position: relative;
    color: #2b292a;
}

.container {
    width: 100%;
    text-align: center;
    z-index: 1;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.info-panel {
    position: absolute;
    top: 20px;
    width: 80px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #fcc41d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #2b292a;
}

.info-panel img {
    width: 30px;
    margin-right: 10px;
}

.info-panel i {
    color: #fcc41d;
    font-size: 24px;
}

.info-panel p {
    margin: 0;
    font-size: 16px;
    color: #2b292a;
}

.left-panel {
    width: auto;
    left: 20px;
}

.right-panel {
    right: 20px;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url("https://devnar.github.io/logos/pigeongo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.search-bar input {
    width: 100%;
    max-width: 500px;
    padding: 15px 20px;
    border: 1px solid #fcc41d;
    border-radius: 24px 0 0 24px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
    color: #2b292a;
}

.search-bar button {
    padding: 15px 20px;
    border: 1px solid #fcc41d;
    border-left: none;
    background-color: #fcc41d;
    border-radius: 0 24px 24px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar button i {
    color: #2b292a;
    font-size: 20px;
}

.search-bar button:hover {
    background-color: #e6b517;
}

.badges {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.badges input {
    display: none;
}

.badge {
    border: 1px solid #fcc41d;
    color: #2b292a;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
}

.badge:hover {
    background-color: #fcc41d;
    color: #2b292a;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
}

.badge-check {
    background-color: #fcc41d;
    color: #2b292a;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
}